<div class="wrapper">
  <div class="alert alert-primary" role="alert" *ngIf="!friends.length">
    Ваш список друзей пуст!
  </div>
  <ul class="list-unstyled" *ngIf="friends.length">
    <li class="media" *ngFor="let friend of friends">
      <img src="{{friend.photoUrl}}" class="mr-3" alt="{{friend.firstName}}">
      <div class="media-body">
        <h5 class="mt-0 mb-1">{{friend.firstName}} {{friend.lastName}}</h5>
        <p class="text-secondary">
          <strong>Место жительства:</strong> {{friend.city}}<br />
          <strong>Интересы:</strong> {{friend.interests}}
        </p>
      </div>
    </li>
  </ul>
</div>
