<div id="vk_api_transport"></div>
<div class="container">
  <ul class="nav" *ngIf="this.sessionService.getSessionStatus()">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/profile']" [routerLinkActive]="['active']">Профиль</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/friends']" [routerLinkActive]="['active']">Друзья</a>
    </li>
    <button type="button" class="btn btn-primary" (click)="logout()">
      Выход</button>
  </ul>
  <router-outlet></router-outlet>
</div>
