.vk-login {
  margin: 40px auto 0;
  max-width: 360px;
  padding: 40px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.nav {
  padding-top: 10px;
  padding-bottom: 10px;
}

.media {
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #4a76a8;
  border-color: #4a76a8;
}

.btn-primary:hover {
  background-color: #5181b8;
  border-color: #5181b8;
}

a {
  color: #4a76a8;
}