@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  background-color: #edeef0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

ul.list-unstyled {
  margin-bottom: 0px;
}

.media {
  padding: 12px 0;
  border-bottom: 1px solid #e7e8ec;
}

.media:first-child {
  padding-top: 0;
}

.media:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}

img {
  border-radius: 4px;
}

.vk-login {
  margin: 40px auto 0;
  max-width: 320px;
  padding: 40px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.nav {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav li {
  margin-right: 12px;
}

.nav-link:hover,
.active {
  background: #e1e5eb;
  text-decoration: none;
  border-radius: 2px;
}

.nav .btn {
  font-size: 14px;
}

.wrapper {
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.btn-primary {
  background-color: #5181b8;
  border: 0;
  box-sizing: border-box;
}

.btn-primary:hover {
  background-color: #5b88bd;
}

a {
  color: #4a76a8;
}